<div class="jumbotron text-center jumbotron-dark bg-dark text-white shadow-lg" style="margin-bottom:0" id="#title-card">
  <h1>{{name}}</h1>
  <i>{{quote}}</i> 
</div>

<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4 border-right">
			<img class="img" src="../assets/alex_pic.jpg" />
      <p style="margin: 0">Bitbucket: <a href="https://github.com/AlexOSAdventurer" target="_blank">AlexOSAdventurer</a></p>
      <p style="margin: 0">Github: <a href="https://github.com/AlexOSAdventurer" target="_blank">AlexOSAdventurer</a></p>
      <p>Email: <a href="mailto://alexrichardsonschool@gmail.com" target="_blank">alexrichardsonschool@gmail.com</a></p>
    </div>
    <div class="col-sm-8 border-left">
			<p style="text-align: center">Click on any of the cards for more information!</p>
			<h1 style="text-align: center">Current Projects</h1>
			<div class="card-columns">
				<div class="card border-dark" *ngFor="let experience of current_projects" [class.shadow-lg]="experience.shadow" (click)="select_experience(experience)" (mouseenter)="shadow_card(experience)" (mouseleave)="unshadow_card(experience)">
					<img class="card-img-top" src={{experience.img}} />
					<div class="card-body">
						<h4 class="text-center">{{experience.title}}</h4>
					</div>
				</div>
			</div>
			<h1 style="text-align: center">Past Projects</h1>
			<div class="card-columns">
				<div class="card border-dark" *ngFor="let experience of past_projects" [class.shadow-lg]="experience.shadow" (click)="select_experience(experience)" (mouseenter)="shadow_card(experience)" (mouseleave)="unshadow_card(experience)">
					<img class="card-img-top" src={{experience.img}} />
					<div class="card-body">
						<h4 class="text-center">{{experience.title}}</h4>
					</div>
				</div>
			</div>
			<h1 style="text-align: center">My Experiences</h1>
			<div class="card-columns">
				<div class="card border-dark" *ngFor="let experience of experiences" [class.shadow-lg]="experience.shadow" (click)="select_experience(experience)" (mouseenter)="shadow_card(experience)" (mouseleave)="unshadow_card(experience)">
					<img class="card-img-top" src={{experience.img}} />
					<div class="card-body">
						<h4 class="text-center">{{experience.title}}</h4>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>