<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center">
    <img src={{img}} class="img" />
  </div>
  <p *ngIf="tags">Tags: {{tags}}</p>
  <p>{{desc}}</p>
</div>
<div *ngIf="link" class="modal-footer">
  <a href={{link}} target="_blank">{{link}}</a>
</div>